<a href="https://colab.research.google.com/github/umidyor/pandas_exercises_uzb/blob/main/pandas_example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

# GETTING_STArTED_GUISAMORA_EXERCISES

##CHIPOTLE
![asl1.jpeg]()

In [ ]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
    
chipo = pd.read_csv(url, sep = '\t')
print(chipo)

      order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description item_price
0                                                   NaN     $2.39
1                                          [Clementine]     $3.39
2                                               [Apple]     $3.39
3                                                   NaN     $2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
...                                                 ...        ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75

[4622 rows x 5 columns]

In [ ]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
   
chipo = pd.read_csv(url, sep = '\t')
print(chipo.duplicated())

0       False
1       False
2       False
3       False
4       False
        ...
4617    False
4618    False
4619    False
4620    False
4621    False
Length: 4622, dtype: bool

In [ ]:
print(chipo.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB
None

In [ ]:
print(chipo.shape[1])  #->Datadagi ma'lumot ustunlari qancha?

5

In [ ]:
print(chipo.columns) #->Barcha ustunlar nomini chop etish!

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [ ]:
print(chipo.index) #->Ma'lumotlar to'plami qanday indekslanadi?

RangeIndex(start=0, stop=4622, step=1)

In [ ]:
c = chipo.groupby('item_name') #-> mahsulot nomi
c = c.sum() #->miqdorini hisoblaydi
c = c.sort_values(['quantity'], ascending=False) #-> sortlash qism
c.head(1) #-> eng kop sotilgani

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [ ]:
jami_buyurtmalar = chipo.quantity.sum()
jami_buyurtmalar

4972

In [ ]:
chipo.item_price.dtype #->Tovar narxini floatga aylantiring! Narx turini tekshiring

dtype('O')

In [ ]:
orders = chipo.order_id.value_counts().count()
orders

1834

## ##OCCUPATION:





---





![asl_wayne.jpeg]()

In [ ]:
import pandas as pd

In [ ]:
users = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', #->Userlar haqida malumot!
                      sep='|', index_col='user_id')
users

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
...      ...    ...            ...      ...
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

[943 rows x 4 columns]

In [ ]:
users.head(17) #->Shu malumotlar ichidan tarib boyicha 17 rowni chiqarish.

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703
11        39      F          other    30329
12        28      F          other    06405
13        47      M       educator    29206
14        45      M      scientist    55106
15        49      F       educator    97301
16        21      M  entertainment    10309
17        30      M     programmer    06355

In [ ]:
users.dtypes #-> Har bir columnni dtypeni aniqlaydi!

age            int64
gender        object
occupation    object
zip_code      object
dtype: object

In [ ]:
users.occupation #->Faqatgina shu columnni chiqaradi

#yoki
# users['occupation']

user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

In [ ]:
users.occupation.nunique() #-> Ushbu ma'lumotlar to'plamida nechta turli kasblar mavjudligini korstadi.

21

In [ ]:
#Because "most" is asked
users.occupation.value_counts().head(1).index[0] #-> BIz bu yo'l orqali qaysi kasb ko'pchilik odamda bir xil ekanligini bilishimiz mukin. Avval usersdan occupation ya'ni kasblar columnini olyapmiz va keyin har bir kasbni nechtaligini sanayapmiz==value_counts() funksiyasi orqali, keyn eng kop kasbni bir qator qilib chiqarib==head(1), nomini ozini index[1] qilib olyapmiz. Shinchaki birinchi indeks!

#or
#to have the top 5

# users.occupation.value_counts().head()

'student'

In [ ]:
users.describe(include = "all") 
#Eslatma: Odatiy bo'lib, faqat raqamli ustunlar qaytariladi.

               age gender occupation zip_code
count   943.000000    943        943      943
unique         NaN      2         21      795
top            NaN      M    student    55414
freq           NaN    670        196        9
mean     34.051962    NaN        NaN      NaN
std      12.192740    NaN        NaN      NaN
min       7.000000    NaN        NaN      NaN
25%      25.000000    NaN        NaN      NaN
50%      31.000000    NaN        NaN      NaN
75%      43.000000    NaN        NaN      NaN
max      73.000000    NaN        NaN      NaN

In [ ]:
users.occupation.describe()

count         943
unique         21
top       student
freq          196
Name: occupation, dtype: object

In [ ]:
round(users.age.mean()) #-> FOydalanuvchilarni ortacha yoshi!

34

#02_Filtering_&_Sorting

##Chipotle

In [ ]:
import pandas as pd

In [ ]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

chipo = pd.read_csv(url, sep = '\t')
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [ ]:
a = chipo['item_name']    

b = chipo['item_price']
a,b

(0                Chips and Fresh Tomato Salsa
 1                                        Izze
 2                            Nantucket Nectar
 3       Chips and Tomatillo-Green Chili Salsa
 4                                Chicken Bowl
                         ...
 4617                            Steak Burrito
 4618                            Steak Burrito
 4619                       Chicken Salad Bowl
 4620                       Chicken Salad Bowl
 4621                       Chicken Salad Bowl
 Name: item_name, Length: 4622, dtype: object, 0        $2.39
 1        $3.39
 2        $3.39
 3        $2.39
 4       $16.98
          ...
 4617    $11.75
 4618    $11.75
 4619    $11.25
 4620     $8.75
 4621     $8.75
 Name: item_price, Length: 4622, dtype: object)

In [ ]:
prices = [value for value in chipo.item_price] #-> for orqali list ichida item_price columninini aylantirab har birinin olamiz.
prices

['$2.39 ',
 '$3.39 ',
 '$3.39 ',
 '$2.39 ',
 '$16.98 ',
 '$10.98 ',
 '$1.69 ',
 '$11.75 ',
 '$9.25 ',
 '$9.25 ',
 '$4.45 ',
 '$8.75 ',
 '$8.75 ',
 '$11.25 ',
 '$4.45 ',
 '$2.39 ',
 '$8.49 ',
 '$8.49 ',
 '$2.18 ',
 '$8.75 ',
 '$4.45 ',
 '$8.99 ',
 '$3.39 ',
 '$10.98 ',
 '$3.39 ',
 '$2.39 ',
 '$8.49 ',
 '$8.99 ',
 '$1.09 ',
 '$8.49 ',
 '$2.39 ',
 '$8.99 ',
 '$1.69 ',
 '$8.99 ',
 '$1.09 ',
 '$8.75 ',
 '$8.75 ',
 '$4.45 ',
 '$2.95 ',
 '$11.75 ',
 '$2.15 ',
 '$4.45 ',
 '$11.25 ',
 '$11.75 ',
 '$8.75 ',
 '$10.98 ',
 '$8.99 ',
 '$3.39 ',
 '$8.99 ',
 '$3.99 ',
 '$8.99 ',
 '$2.18 ',
 '$10.98 ',
 '$1.09 ',
 '$8.99 ',
 '$2.39 ',
 '$9.25 ',
 '$11.25 ',
 '$11.75 ',
 '$2.15 ',
 '$4.45 ',
 '$9.25 ',
 '$11.25 ',
 '$8.75 ',
 '$8.99 ',
 '$8.99 ',
 '$3.39 ',
 '$8.99 ',
 '$10.98 ',
 '$8.99 ',
 '$1.69 ',
 '$8.99 ',
 '$3.99 ',
 '$8.75 ',
 '$4.45 ',
 '$8.75 ',
 '$8.75 ',
 '$2.15 ',
 '$8.75 ',
 '$11.25 ',
 '$2.15 ',
 '$9.25 ',
 '$8.75 ',
 '$8.75 ',
 '$9.25 ',
 '$8.49 ',
 '$8.99 ',
 '$1.09 ',
 '$9.25 ',
 '$2.95 ',
 '$11.75 ',
 '$11.75 ',
 '$9.25 ',
 '$11.75 ',
 '$4.45 ',
 '$9.25 ',
 '$4.45 ',
 '$11.75 ',
 '$8.75 ',
 '$8.75 ',
 '$4.45 ',
 '$8.99 ',
 '$8.99 ',
 '$3.99 ',
 '$8.49 ',
 '$3.39 ',
 '$8.99 ',
 '$1.09 ',
 '$9.25 ',
 '$4.45 ',
 '$8.75 ',
 '$2.95 ',
 '$4.45 ',
 '$2.39 ',
 '$8.49 ',
 '$8.99 ',
 '$8.49 ',
 '$1.09 ',
 '$8.99 ',
 '$3.99 ',
 '$8.75 ',
 '$9.25 ',
 '$4.45 ',
 '$11.25 ',
 '$4.45 ',
 '$8.99 ',
 '$1.09 ',
 '$9.25 ',
 '$2.95 ',
 '$4.45 ',
 '$11.75 ',
 '$4.45 ',
 '$8.49 ',
 '$2.39 ',
 '$10.98 ',
 '$22.50 ',
 '$11.75 ',
 '$4.45 ',
 '$11.25 ',
 '$4.45 ',
 '$11.25 ',
 '$4.45 ',
 '$11.25 ',
 '$11.25 ',
 '$11.75 ',
 '$9.25 ',
 '$4.45 ',
 '$11.48 ',
 '$17.98 ',
 '$1.69 ',
 '$17.50 ',
 '$4.45 ',
 '$8.49 ',
 '$2.39 ',
 '$17.50 ',
 '$4.45 ',
 '$4.45 ',
 '$11.25 ',
 '$11.75 ',
 '$10.98 ',
 '$8.49 ',
 '$10.98 ',
 '$2.18 ',
 '$11.48 ',
 '$8.49 ',
 '$2.39 ',
 '$4.45 ',
 '$11.25 ',
 '$11.75 ',
 '$8.75 ',
 '$8.49 ',
 '$2.18 ',
 '$8.49 ',
 '$3.39 ',
 '$8.49 ',
 '$8.99 ',
 '$10.98 ',
 '$11.48 ',
 '$8.49 ',
 '$1.09 ',
 '$1.09 ',
 '$9.25 ',
 '$8.75 ',
 '$2.95 ',
 '$9.25 ',
 '$4.45 ',
 '$11.25 ',
 '$11.48 ',
 '$8.49 ',
 '$8.49 ',
 '$8.99 ',
 '$2.39 ',
 '$11.25 ',
 '$8.75 ',
 '$2.95 ',
 '$1.09 ',
 '$8.99 ',
 '$8.49 ',
 '$2.39 ',
 '$10.98 ',
 '$1.09 ',
 '$3.99 ',
 '$11.25 ',
 '$8.75 ',
 '$8.49 ',
 '$3.39 ',
 '$8.75 ',
 '$9.25 ',
 '$2.15 ',
 '$11.25 ',
 '$11.25 ',
 '$11.25 ',
 '$4.45 ',
 '$22.50 ',
 '$4.45 ',
 '$11.75 ',
 '$8.75 ',
 '$17.50 ',
 '$8.75 ',
 '$9.25 ',
 '$8.75 ',
 '$2.15 ',
 '$9.25 ',
 '$4.30 ',
 '$8.75 ',
 '$11.25 ',
 '$2.15 ',
 '$8.99 ',
 '$1.09 ',
 '$8.99 ',
 '$3.99 ',
 '$8.75 ',
 '$2.95 ',
 '$2.95 ',
 '$11.75 ',
 '$5.90 ',
 '$9.25 ',
 '$9.25 ',
 '$11.75 ',
 '$9.25 ',
 '$2.95 ',
 '$17.50 ',
 '$8.75 ',
 '$9.25 ',
 '$10.98 ',
 '$8.99 ',
 '$1.09 ',
 '$1.09 ',
 '$1.09 ',
 '$8.99 ',
 '$10.98 ',
 '$1.09 ',
 '$8.75 ',
 '$8.75 ',
 '$9.25 ',
 '$9.25 ',
 '$8.75 ',
 '$8.75 ',
 '$8.99 ',
 '$8.99 ',
 '$8.99 ',
 '$1.09 ',
 '$11.75 ',
 '$1.25 ',
 '$8.99 ',
 '$2.39 ',
 '$9.25 ',
 '$2.95 ',
 '$8.99 ',
 '$3.99 ',
 '$8.49 ',
 '$2.39 ',
 '$8.49 ',
 '$8.49 ',
 '$8.49 ',
 '$1.69 ',
 '$8.49 ',
 '$3.99 ',
 '$8.99 ',
 '$1.69 ',
 '$1.09 ',
 '$23.78 ',
 '$17.50 ',
 '$2.15 ',
 '$8.75 ',
 '$9.25 ',
 '$9.25 ',
 '$8.75 ',
 '$4.45 ',
 '$8.75 ',
 '$11.25 ',
 '$11.25 ',
 '$1.25 ',
 '$9.25 ',
 '$4.45 ',
 '$11.25 ',
 '$11.75 ',
 '$11.75 ',
 '$6.49 ',
 '$8.99 ',
 '$2.39 ',
 '$8.49 ',
 '$2.39 ',
 '$11.25 ',
 '$8.75 ',
 '$2.15 ',
 '$8.99 ',
 '$1.69 ',
 '$8.75 ',
 '$11.25 ',
 '$2.15 ',
 '$4.45 ',
 '$8.75 ',
 '$8.49 ',
 '$8.99 ',
 '$17.50 ',
 '$8.49 ',
 '$1.09 ',
 '$1.09 ',
 '$8.75 ',
 '$1.25 ',
 '$2.15 ',
 '$11.08 ',
 '$8.49 ',
 '$8.49 ',
 '$8.99 ',
 '$2.39 ',
 '$8.75 ',
 '$2.15 ',
 '$1.50 ',
 '$11.25 ',
 '$2.15 ',
 '$8.49 ',
 '$8.49 ',
 '$11.75 ',
 '$9.25 ',
 '$11.75 ',
 '$1.25 ',
 '$11.25 ',
 '$8.75 ',
 '$4.45 ',
 '$6.49 ',
 '$9.25 ',
 '$2.95 ',
 '$11.25 ',
 '$4.45 ',
 '$1.25 ',
 '$1.25 ',
 '$8.49 ',
 '$2.39 ',
 '$2.18 ',
 '$8.49 ',
 '$2.18 ',
 '$22.16 ',
 '$17.50 ',
 '$8.75 ',
 '$2.95 ',
 '$6.49 ',
 '$8.99 ',
 '$3.39 ',
 '$3.39 ',
 '$8.99 ',
 '$8.49 ',
 '$11.25 ',
 '$2.15 ',
 '$11.25 ',
 '$2.95 ',
 '$11.25 ',
 '$1.25 ',
 '$8.99 ',
 '$1.09 ',
 '$8.75 ',
 '$8.75 ',
 '$9.25 ',
 '$2.95 ',
 '$11.75 ',
 '$1.50 ',
 '$8.99 ',
 '$1.09 ',
 '$11.25 ',
 '$1.25 ',
 '$1.25 ',
 '$11.25 ',
 '$11.75 ',
 '$2.15 ',
 '$8.99 ',
 '$1.69 ',
 '$11.75 ',
 '$6.49 ',
 '$8.75 ',
 '$9.25 ',
 '$11.25 ',
 '$4.45 ',
 '$1.25 ',
 '$11.25 ',
 '$4.45 ',
 '$8.49 ',
 '$8.99 ',
 '$8.49 ',
 '$8.99 ',
 '$11.25 ',
 '$1.25 ',
 '$11.75 ',
 '$1.25 ',
 '$11.75 ',
 '$9.25 ',
 '$4.45 ',
 '$11.25 ',
 '$2.15 ',
 '$32.94 ',
 '$1.25 ',
 '$11.25 ',
 '$11.48 ',
 '$1.69 ',
 '$1.09 ',
 '$17.50 ',
 '$4.45 ',
 '$6.49 ',
 '$9.25 ',
 '$8.75 ',
 '$9.25 ',
 '$9.25 ',
 '$8.75 ',
 '$8.75 ',
 '$2.15 ',
 '$2.95 ',
 '$17.50 ',
 '$10.98 ',
 '$11.48 ',
 '$11.48 ',
 '$3.39 ',
 '$8.99 ',
 '$1.69 ',
 '$8.99 ',
 '$1.09 ',
 '$10.98 ',
 '$3.39 ',
 '$8.99 ',
 '$1.09 ',
 '$9.25 ',
 '$8.75 ',
 '$11.25 ',
 '$4.45 ',
 '$2.95 ',
 '$9.25 ',
 '$22.20 ',
 '$8.49 ',
 '$8.99 ',
 '$8.75 ',
 '$8.75 ',
 '$11.75 ',
 '$8.75 ',
 '$11.25 ',
 '$9.25 ',
 '$11.25 ',
 '$11.25 ',
 '$8.75 ',
 '$11.25 ',
 '$2.95 ',
 '$1.25 ',
 '$8.49 ',
 '$1.69 ',
 '$11.75 ',
 '$11.25 ',
 '$8.75 ',
 '$8.75 ',
 '$4.45 ',
 '$8.49 ',
 '$3.99 ',
 '$8.49 ',
 '$3.99 ',
 '$11.48 ',
 '$1.69 ',
 '$1.09 ',
 '$11.25 ',
 '$1.50 ',
 '$10.58 ',
 '$1.69 ',
 '$9.25 ',
 '$11.25 ',
 '$8.75 ',
 '$9.25 ',
 '$11.25 ',
 '$11.25 ',
 '$8.75 ',
 '$11.75 ',
 '$8.75 ',
 '$8.75 ',
 '$8.75 ',
 '$2.15 ',
 '$11.25 ',
 '$11.75 ',
 '$2.50 ',
 '$4.45 ',
 '$9.25 ',
 '$4.45 ',
 '$11.25 ',
 '$8.49 ',
 '$3.99 ',
 '$9.25 ',
 '$9.25 ',
 '$11.25 ',
 '$9.25 ',
 '$11.75 ',
 '$11.25 ',
 '$1.25 ',
 '$23.50 ',
 '$1.25 ',
 '$8.99 ',
 '$8.49 ',
 '$7.40 ',
 '$7.40 ',
 '$8.75 ',
 '$1.25 ',
 '$4.45 ',
 '$8.75 ',
 '$2.15 ',
 '$8.75 ',
 '$4.45 ',
 '$7.40 ',
 '$7.40 ',
 '$7.40 ',
 '$8.99 ',
 '$3.99 ',
 '$8.99 ',
 '$1.69 ',
 '$8.75 ',
 '$8.75 ',
 '$8.75 ',
 '$8.75 ',
 '$11.25 ',
 '$11.25 ',
 '$2.95 ',
 '$8.75 ',
 '$18.50 ',
 '$8.49 ',
 '$3.99 ',
 '$2.95 ',
 '$9.25 ',
 '$9.25 ',
 '$3.00 ',
 '$1.25 ',
 '$8.75 ',
 '$9.25 ',
 '$4.45 ',
 '$8.75 ',
 '$11.25 ',
 '$4.45 ',
 '$10.98 ',
 '$22.16 ',
 '$4.45 ',
 '$8.75 ',
 '$9.25 ',
 '$6.49 ',
 '$9.25 ',
 '$11.25 ',
 '$8.75 ',
 '$9.25 ',
 '$2.15 ',
 '$9.25 ',
 '$4.45 ',
 '$9.25 ',
 '$2.95 ',
 '$9.25 ',
 '$8.75 ',
 '$9.25 ',
 '$1.25 ',
 '$1.25 ',
 '$8.75 ',
 '$8.75 ',
 '$9.25 ',
 '$4.45 ',
 '$11.75 ',
 '$11.75 ',
 '$11.75 ',
 '$9.25 ',
 '$9.25 ',
 '$16.98 ',
 '$2.39 ',
 '$3.39 ',
 '$3.39 ',
 '$9.25 ',
 '$11.75 ',
 '$11.25 ',
 '$2.15 ',
 '$8.75 ',
 '$9.25 ',
 '$4.45 ',
 '$10.98 ',
 '$11.25 ',
 '$9.25 ',
 '$22.50 ',
 '$9.25 ',
 '$2.95 ',
 '$1.50 ',
 '$11.48 ',
 '$8.49 ',
 '$1.69 ',
 '$8.49 ',
 '$8.49 ',
 '$8.49 ',
 '$6.78 ',
 '$11.75 ',
 '$4.45 ',
 '$8.75 ',
 '$4.45 ',
 '$11.89 ',
 '$9.39 ',
 '$8.75 ',
 '$2.95 ',
 '$1.25 ',
 '$9.25 ',
 '$8.75 ',
 '$23.78 ',
 '$8.75 ',
 '$9.25 ',
 '$2.15 ',
 '$2.15 ',
 '$1.25 ',
 '$8.49 ',
 '$3.99 ',
 '$10.98 ',
 '$1.09 ',
 '$8.75 ',
 '$4.45 ',
 '$8.75 ',
 '$11.75 ',
 '$2.95 ',
 '$4.45 ',
 '$9.25 ',
 '$8.75 ',
 '$8.49 ',
 '$3.99 ',
 '$22.50 ',
 '$11.25 ',
 '$1.25 ',
 '$8.75 ',
 '$8.75 ',
 '$18.50 ',
 '$6.49 ',
 '$8.75 ',
 '$8.75 ',
 '$4.45 ',
 '$8.49 ',
 '$3.99 ',
 '$8.99 ',
 '$1.09 ',
 '$8.49 ',
 '$2.39 ',
 '$11.48 ',
 '$1.69 ',
 '$2.50 ',
 '$9.25 ',
 '$1.50 ',
 '$17.50 ',
 '$2.95 ',
 '$8.75 ',
 '$4.45 ',
 '$11.75 ',
 '$8.75 ',
 '$8.49 ',
 '$1.69 ',
 '$8.49 ',
 '$3.99 ',
 '$8.99 ',
 '$8.99 ',
 '$3.99 ',
 '$8.99 ',
 '$11.25 ',
 '$4.45 ',
 '$1.25 ',
 '$3.99 ',
 '$10.98 ',
 '$7.40 ',
 '$3.00 ',
 '$7.40 ',
 '$4.00 ',
 '$8.49 ',
 '$3.99 ',
 '$9.25 ',
 '$4.45 ',
 '$11.25 ',
 '$1.25 ',
 '$11.75 ',
 '$1.25 ',
 '$11.25 ',
 '$2.15 ',
 '$11.25 ',
 '$4.45 ',
 '$3.75 ',
 '$11.75 ',
 '$8.99 ',
 '$2.39 ',
 '$8.75 ',
 '$4.45 ',
 '$1.25 ',
 '$8.99 ',
 '$8.49 ',
 '$2.18 ',
 '$8.49 ',
 '$2.18 ',
 '$1.09 ',
 '$8.75 ',
 '$2.95 ',
 '$1.25 ',
 '$1.50 ',
 '$11.25 ',
 '$9.25 ',
 '$2.95 ',
 '$1.25 ',
 '$8.49 ',
 '$3.99 ',
 '$11.48 ',
 '$3.99 ',
 '$8.49 ',
 '$11.25 ',
 '$1.25 ',
 '$8.99 ',
 '$1.69 ',
 '$11.25 ',
 '$1.25 ',
 '$6.49 ',
 '$8.75 ',
 '$9.25 ',
 '$8.75 ',
 '$2.95 ',
 '$8.75 ',
 '$11.75 ',
 '$8.69 ',
 '$8.69 ',
 '$2.29 ',
 '$3.99 ',
 '$8.49 ',
 '$8.75 ',
 '$8.75 ',
 '$1.25 ',
 '$11.75 ',
 '$11.25 ',
 '$11.25 ',
 '$11.25 ',
 '$1.25 ',
 '$9.25 ',
 '$11.75 ',
 '$6.49 ',
 '$3.99 ',
 '$8.49 ',
 '$11.25 ',
 '$2.15 ',
 '$11.25 ',
 '$11.89 ',
 '$8.99 ',
 '$1.69 ',
 '$8.99 ',
 '$8.99 ',
 '$3.99 ',
 '$8.99 ',
 '$9.25 ',
 '$9.25 ',
 '$2.15 ',
 '$7.40 ',
 '$7.40 ',
 '$8.75 ',
 '$8.75 ',
 '$9.25 ',
 '$4.45 ',
 '$11.25 ',
 '$1.25 ',
 '$11.75 ',
 '$11.25 ',
 '$1.25 ',
 '$3.99 ',
 '$8.49 ',
 '$8.49 ',
 '$8.49 ',
 '$8.99 ',
 '$8.75 ',
 '$2.15 ',
 '$1.25 ',
 '$8.49 ',
 '$1.09 ',
 '$1.09 ',
 '$8.75 ',
 '$2.95 ',
 '$1.25 ',
 '$9.25 ',
 '$1.25 ',
 '$2.15 ',
 '$11.25 ',
 '$1.25 ',
 '$4.45 ',
 '$8.75 ',
 '$2.50 ',
 '$8.90 ',
 '$8.75 ',
 '$8.75 ',
 '$8.75 ',
 '$11.25 ',
 '$11.25 ',
 '$10.98 ',
 '$3.99 ',
 '$10.98 ',
 '$3.99 ',
 '$1.69 ',
 '$8.99 ',
 '$9.25 ',
 '$8.75 ',
 '$8.99 ',
 '$1.09 ',
 '$9.25 ',
 '$2.95 ',
 '$8.75 ',
 '$9.25 ',
 '$3.99 ',
 '$8.49 ',
 '$8.75 ',
 '$8.75 ',
 '$22.50 ',
 '$10.98 ',
 '$3.27 ',
 '$3.99 ',
 '$8.99 ',
 '$1.09 ',
 '$11.08 ',
 '$8.75 ',
 '$4.45 ',
 '$11.08 ',
 '$3.99 ',
 '$8.49 ',
 '$4.30 ',
 '$9.25 ',
 '$8.75 ',
 '$11.25 ',
 '$11.25 ',
 '$9.25 ',
 '$8.49 ',
 '$8.99 ',
 '$8.49 ',
 '$8.75 ',
 '$2.95 ',
 '$4.45 ',
 '$9.25 ',
 '$2.95 ',
 '$9.25 ',
 '$8.75 ',
 '$11.25 ',
 '$4.45 ',
 '$16.98 ',
 '$8.49 ',
 '$2.39 ',
 '$11.25 ',
 '$3.75 ',
 '$9.25 ',
 '$4.45 ',
 '$9.25 ',
 '$9.25 ',
 '$4.45 ',
 '$8.75 ',
 '$9.25 ',
 '$8.75 ',
 '$9.25 ',
 '$9.25 ',
 '$9.25 ',
 '$11.48 ',
 '$8.99 ',
 '$22.50 ',
 '$11.75 ',
 '$11.25 ',
 '$1.25 ',
 '$8.75 ',
 '$2.15 ',
 '$1.25 ',
 '$11.25 ',
 '$8.75 ',
 '$1.25 ',
 '$11.25 ',
 '$1.50 ',
 '$11.25 ',
 '$11.25 ',
 '$9.25 ',
 '$6.49 ',
 '$8.90 ',
 '$8.75 ',
 '$4.45 ',
 '$11.25 ',
 '$1.25 ',
 '$17.50 ',
 '$9.25 ',
 '$8.75 ',
 '$11.75 ',
 '$3.00 ',
 '$8.49 ',
 '$8.49 ',
 '$10.98 ',
 '$8.99 ',
 '$3.99 ',
 '$8.75 ',
 '$4.45 ',
 '$8.99 ',
 '$1.69 ',
 '$11.75 ',
 '$8.75 ',
 '$11.25 ',
 '$4.45 ',
 '$11.75 ',
 '$1.25 ',
 '$11.75 ',
 '$2.95 ',
 '$8.99 ',
 '$8.99 ',
 '$2.18 ',
 '$17.98 ',
 '$8.99 ',
 '$8.49 ',
 '$1.69 ',
 '$11.75 ',
 '$11.25 ',
 '$2.95 ',
 '$3.75 ',
 '$9.25 ',
 '$11.75 ',
 '$8.75 ',
 '$2.15 ',
 '$1.50 ',
 '$8.49 ',
 '$8.49 ',
 '$3.39 ',
 '$8.69 ',
 '$3.89 ',
 '$8.75 ',
 '$4.45 ',
 '$8.75 ',
 '$11.25 ',
 '$2.15 ',
 '$8.75 ',
 '$8.49 ',
 '$1.69 ',
 '$8.49 ',
 '$8.49 ',
 '$1.25 ',
 '$8.75 ',
 '$11.75 ',
 '$11.75 ',
 '$8.99 ',
 '$1.09 ',
 '$8.75 ',
 '$4.45 ',
 '$8.75 ',
 '$2.95 ',
 '$8.75 ',
 '$2.15 ',
 '$3.99 ',
 '$8.49 ',
 '$8.99 ',
 '$3.99 ',
 '$8.49 ',
 '$1.69 ',
 '$1.09 ',
 '$8.99 ',
 '$1.09 ',
 '$9.25 ',
 '$8.75 ',
 '$8.99 ',
 '$2.39 ',
 '$1.25 ',
 '$1.25 ',
 '$11.25 ',
 '$11.25 ',
 '$9.25 ',
 '$9.25 ',
 '$11.25 ',
 '$1.50 ',
 '$3.99 ',
 '$8.49 ',
 '$11.25 ',
 '$9.25 ',
 '$11.25 ',
 '$17.50 ',
 '$8.75 ',
 '$8.90 ',
 '$8.75 ',
 '$8.75 ',
 '$8.99 ',
 '$2.39 ',
 '$11.25 ',
 '$9.25 ',
 '$2.15 ',
 '$11.25 ',
 '$1.25 ',
 '$11.75 ',
 '$1.25 ',
 '$11.25 ',
 '$11.75 ',
 '$1.25 ',
 '$11.25 ',
 '$11.25 ',
 '$8.49 ',
 '$10.98 ',
 '$8.75 ',
 '$1.25 ',
 '$8.75 ',
 ...]

In [ ]:
prices = [float(value[1: -1]) for value in chipo.item_price] #-> keyin birinchidan u yog'ini va -1 dan bu yog'ini oladi value[1: -1]da! songra butun narxlarni floatga aylantirib float ni beramiz.
prices #-> bu datani tozalash bo'ladi.

[2.39,
 3.39,
 3.39,
 2.39,
 16.98,
 10.98,
 1.69,
 11.75,
 9.25,
 9.25,
 4.45,
 8.75,
 8.75,
 11.25,
 4.45,
 2.39,
 8.49,
 8.49,
 2.18,
 8.75,
 4.45,
 8.99,
 3.39,
 10.98,
 3.39,
 2.39,
 8.49,
 8.99,
 1.09,
 8.49,
 2.39,
 8.99,
 1.69,
 8.99,
 1.09,
 8.75,
 8.75,
 4.45,
 2.95,
 11.75,
 2.15,
 4.45,
 11.25,
 11.75,
 8.75,
 10.98,
 8.99,
 3.39,
 8.99,
 3.99,
 8.99,
 2.18,
 10.98,
 1.09,
 8.99,
 2.39,
 9.25,
 11.25,
 11.75,
 2.15,
 4.45,
 9.25,
 11.25,
 8.75,
 8.99,
 8.99,
 3.39,
 8.99,
 10.98,
 8.99,
 1.69,
 8.99,
 3.99,
 8.75,
 4.45,
 8.75,
 8.75,
 2.15,
 8.75,
 11.25,
 2.15,
 9.25,
 8.75,
 8.75,
 9.25,
 8.49,
 8.99,
 1.09,
 9.25,
 2.95,
 11.75,
 11.75,
 9.25,
 11.75,
 4.45,
 9.25,
 4.45,
 11.75,
 8.75,
 8.75,
 4.45,
 8.99,
 8.99,
 3.99,
 8.49,
 3.39,
 8.99,
 1.09,
 9.25,
 4.45,
 8.75,
 2.95,
 4.45,
 2.39,
 8.49,
 8.99,
 8.49,
 1.09,
 8.99,
 3.99,
 8.75,
 9.25,
 4.45,
 11.25,
 4.45,
 8.99,
 1.09,
 9.25,
 2.95,
 4.45,
 11.75,
 4.45,
 8.49,
 2.39,
 10.98,
 22.5,
 11.75,
 4.45,
 11.25,
 4.45,
 11.25,
 4.45,
 11.25,
 11.25,
 11.75,
 9.25,
 4.45,
 11.48,
 17.98,
 1.69,
 17.5,
 4.45,
 8.49,
 2.39,
 17.5,
 4.45,
 4.45,
 11.25,
 11.75,
 10.98,
 8.49,
 10.98,
 2.18,
 11.48,
 8.49,
 2.39,
 4.45,
 11.25,
 11.75,
 8.75,
 8.49,
 2.18,
 8.49,
 3.39,
 8.49,
 8.99,
 10.98,
 11.48,
 8.49,
 1.09,
 1.09,
 9.25,
 8.75,
 2.95,
 9.25,
 4.45,
 11.25,
 11.48,
 8.49,
 8.49,
 8.99,
 2.39,
 11.25,
 8.75,
 2.95,
 1.09,
 8.99,
 8.49,
 2.39,
 10.98,
 1.09,
 3.99,
 11.25,
 8.75,
 8.49,
 3.39,
 8.75,
 9.25,
 2.15,
 11.25,
 11.25,
 11.25,
 4.45,
 22.5,
 4.45,
 11.75,
 8.75,
 17.5,
 8.75,
 9.25,
 8.75,
 2.15,
 9.25,
 4.3,
 8.75,
 11.25,
 2.15,
 8.99,
 1.09,
 8.99,
 3.99,
 8.75,
 2.95,
 2.95,
 11.75,
 5.9,
 9.25,
 9.25,
 11.75,
 9.25,
 2.95,
 17.5,
 8.75,
 9.25,
 10.98,
 8.99,
 1.09,
 1.09,
 1.09,
 8.99,
 10.98,
 1.09,
 8.75,
 8.75,
 9.25,
 9.25,
 8.75,
 8.75,
 8.99,
 8.99,
 8.99,
 1.09,
 11.75,
 1.25,
 8.99,
 2.39,
 9.25,
 2.95,
 8.99,
 3.99,
 8.49,
 2.39,
 8.49,
 8.49,
 8.49,
 1.69,
 8.49,
 3.99,
 8.99,
 1.69,
 1.09,
 23.78,
 17.5,
 2.15,
 8.75,
 9.25,
 9.25,
 8.75,
 4.45,
 8.75,
 11.25,
 11.25,
 1.25,
 9.25,
 4.45,
 11.25,
 11.75,
 11.75,
 6.49,
 8.99,
 2.39,
 8.49,
 2.39,
 11.25,
 8.75,
 2.15,
 8.99,
 1.69,
 8.75,
 11.25,
 2.15,
 4.45,
 8.75,
 8.49,
 8.99,
 17.5,
 8.49,
 1.09,
 1.09,
 8.75,
 1.25,
 2.15,
 11.08,
 8.49,
 8.49,
 8.99,
 2.39,
 8.75,
 2.15,
 1.5,
 11.25,
 2.15,
 8.49,
 8.49,
 11.75,
 9.25,
 11.75,
 1.25,
 11.25,
 8.75,
 4.45,
 6.49,
 9.25,
 2.95,
 11.25,
 4.45,
 1.25,
 1.25,
 8.49,
 2.39,
 2.18,
 8.49,
 2.18,
 22.16,
 17.5,
 8.75,
 2.95,
 6.49,
 8.99,
 3.39,
 3.39,
 8.99,
 8.49,
 11.25,
 2.15,
 11.25,
 2.95,
 11.25,
 1.25,
 8.99,
 1.09,
 8.75,
 8.75,
 9.25,
 2.95,
 11.75,
 1.5,
 8.99,
 1.09,
 11.25,
 1.25,
 1.25,
 11.25,
 11.75,
 2.15,
 8.99,
 1.69,
 11.75,
 6.49,
 8.75,
 9.25,
 11.25,
 4.45,
 1.25,
 11.25,
 4.45,
 8.49,
 8.99,
 8.49,
 8.99,
 11.25,
 1.25,
 11.75,
 1.25,
 11.75,
 9.25,
 4.45,
 11.25,
 2.15,
 32.94,
 1.25,
 11.25,
 11.48,
 1.69,
 1.09,
 17.5,
 4.45,
 6.49,
 9.25,
 8.75,
 9.25,
 9.25,
 8.75,
 8.75,
 2.15,
 2.95,
 17.5,
 10.98,
 11.48,
 11.48,
 3.39,
 8.99,
 1.69,
 8.99,
 1.09,
 10.98,
 3.39,
 8.99,
 1.09,
 9.25,
 8.75,
 11.25,
 4.45,
 2.95,
 9.25,
 22.2,
 8.49,
 8.99,
 8.75,
 8.75,
 11.75,
 8.75,
 11.25,
 9.25,
 11.25,
 11.25,
 8.75,
 11.25,
 2.95,
 1.25,
 8.49,
 1.69,
 11.75,
 11.25,
 8.75,
 8.75,
 4.45,
 8.49,
 3.99,
 8.49,
 3.99,
 11.48,
 1.69,
 1.09,
 11.25,
 1.5,
 10.58,
 1.69,
 9.25,
 11.25,
 8.75,
 9.25,
 11.25,
 11.25,
 8.75,
 11.75,
 8.75,
 8.75,
 8.75,
 2.15,
 11.25,
 11.75,
 2.5,
 4.45,
 9.25,
 4.45,
 11.25,
 8.49,
 3.99,
 9.25,
 9.25,
 11.25,
 9.25,
 11.75,
 11.25,
 1.25,
 23.5,
 1.25,
 8.99,
 8.49,
 7.4,
 7.4,
 8.75,
 1.25,
 4.45,
 8.75,
 2.15,
 8.75,
 4.45,
 7.4,
 7.4,
 7.4,
 8.99,
 3.99,
 8.99,
 1.69,
 8.75,
 8.75,
 8.75,
 8.75,
 11.25,
 11.25,
 2.95,
 8.75,
 18.5,
 8.49,
 3.99,
 2.95,
 9.25,
 9.25,
 3.0,
 1.25,
 8.75,
 9.25,
 4.45,
 8.75,
 11.25,
 4.45,
 10.98,
 22.16,
 4.45,
 8.75,
 9.25,
 6.49,
 9.25,
 11.25,
 8.75,
 9.25,
 2.15,
 9.25,
 4.45,
 9.25,
 2.95,
 9.25,
 8.75,
 9.25,
 1.25,
 1.25,
 8.75,
 8.75,
 9.25,
 4.45,
 11.75,
 11.75,
 11.75,
 9.25,
 9.25,
 16.98,
 2.39,
 3.39,
 3.39,
 9.25,
 11.75,
 11.25,
 2.15,
 8.75,
 9.25,
 4.45,
 10.98,
 11.25,
 9.25,
 22.5,
 9.25,
 2.95,
 1.5,
 11.48,
 8.49,
 1.69,
 8.49,
 8.49,
 8.49,
 6.78,
 11.75,
 4.45,
 8.75,
 4.45,
 11.89,
 9.39,
 8.75,
 2.95,
 1.25,
 9.25,
 8.75,
 23.78,
 8.75,
 9.25,
 2.15,
 2.15,
 1.25,
 8.49,
 3.99,
 10.98,
 1.09,
 8.75,
 4.45,
 8.75,
 11.75,
 2.95,
 4.45,
 9.25,
 8.75,
 8.49,
 3.99,
 22.5,
 11.25,
 1.25,
 8.75,
 8.75,
 18.5,
 6.49,
 8.75,
 8.75,
 4.45,
 8.49,
 3.99,
 8.99,
 1.09,
 8.49,
 2.39,
 11.48,
 1.69,
 2.5,
 9.25,
 1.5,
 17.5,
 2.95,
 8.75,
 4.45,
 11.75,
 8.75,
 8.49,
 1.69,
 8.49,
 3.99,
 8.99,
 8.99,
 3.99,
 8.99,
 11.25,
 4.45,
 1.25,
 3.99,
 10.98,
 7.4,
 3.0,
 7.4,
 4.0,
 8.49,
 3.99,
 9.25,
 4.45,
 11.25,
 1.25,
 11.75,
 1.25,
 11.25,
 2.15,
 11.25,
 4.45,
 3.75,
 11.75,
 8.99,
 2.39,
 8.75,
 4.45,
 1.25,
 8.99,
 8.49,
 2.18,
 8.49,
 2.18,
 1.09,
 8.75,
 2.95,
 1.25,
 1.5,
 11.25,
 9.25,
 2.95,
 1.25,
 8.49,
 3.99,
 11.48,
 3.99,
 8.49,
 11.25,
 1.25,
 8.99,
 1.69,
 11.25,
 1.25,
 6.49,
 8.75,
 9.25,
 8.75,
 2.95,
 8.75,
 11.75,
 8.69,
 8.69,
 2.29,
 3.99,
 8.49,
 8.75,
 8.75,
 1.25,
 11.75,
 11.25,
 11.25,
 11.25,
 1.25,
 9.25,
 11.75,
 6.49,
 3.99,
 8.49,
 11.25,
 2.15,
 11.25,
 11.89,
 8.99,
 1.69,
 8.99,
 8.99,
 3.99,
 8.99,
 9.25,
 9.25,
 2.15,
 7.4,
 7.4,
 8.75,
 8.75,
 9.25,
 4.45,
 11.25,
 1.25,
 11.75,
 11.25,
 1.25,
 3.99,
 8.49,
 8.49,
 8.49,
 8.99,
 8.75,
 2.15,
 1.25,
 8.49,
 1.09,
 1.09,
 8.75,
 2.95,
 1.25,
 9.25,
 1.25,
 2.15,
 11.25,
 1.25,
 4.45,
 8.75,
 2.5,
 8.9,
 8.75,
 8.75,
 8.75,
 11.25,
 11.25,
 10.98,
 3.99,
 10.98,
 3.99,
 1.69,
 8.99,
 9.25,
 8.75,
 8.99,
 1.09,
 9.25,
 2.95,
 8.75,
 9.25,
 3.99,
 8.49,
 8.75,
 8.75,
 22.5,
 10.98,
 3.27,
 3.99,
 8.99,
 1.09,
 11.08,
 8.75,
 4.45,
 11.08,
 3.99,
 8.49,
 4.3,
 9.25,
 8.75,
 11.25,
 11.25,
 9.25,
 8.49,
 8.99,
 8.49,
 8.75,
 2.95,
 4.45,
 9.25,
 2.95,
 9.25,
 8.75,
 11.25,
 4.45,
 16.98,
 8.49,
 2.39,
 11.25,
 3.75,
 9.25,
 4.45,
 9.25,
 9.25,
 4.45,
 8.75,
 9.25,
 8.75,
 9.25,
 9.25,
 9.25,
 11.48,
 8.99,
 22.5,
 11.75,
 11.25,
 1.25,
 8.75,
 2.15,
 1.25,
 11.25,
 8.75,
 1.25,
 11.25,
 1.5,
 11.25,
 11.25,
 9.25,
 6.49,
 8.9,
 8.75,
 4.45,
 11.25,
 1.25,
 17.5,
 9.25,
 8.75,
 11.75,
 3.0,
 8.49,
 8.49,
 10.98,
 8.99,
 3.99,
 8.75,
 4.45,
 8.99,
 1.69,
 11.75,
 8.75,
 11.25,
 4.45,
 11.75,
 1.25,
 11.75,
 2.95,
 8.99,
 8.99,
 2.18,
 17.98,
 8.99,
 8.49,
 1.69,
 11.75,
 11.25,
 2.95,
 3.75,
 9.25,
 11.75,
 8.75,
 2.15,
 1.5,
 8.49,
 8.49,
 3.39,
 8.69,
 3.89,
 8.75,
 4.45,
 8.75,
 11.25,
 2.15,
 8.75,
 8.49,
 1.69,
 8.49,
 8.49,
 1.25,
 8.75,
 11.75,
 11.75,
 8.99,
 1.09,
 8.75,
 4.45,
 8.75,
 2.95,
 8.75,
 2.15,
 3.99,
 8.49,
 8.99,
 3.99,
 8.49,
 1.69,
 1.09,
 8.99,
 1.09,
 9.25,
 8.75,
 8.99,
 2.39,
 1.25,
 1.25,
 11.25,
 11.25,
 9.25,
 9.25,
 11.25,
 1.5,
 3.99,
 8.49,
 11.25,
 9.25,
 11.25,
 17.5,
 8.75,
 8.9,
 8.75,
 8.75,
 8.99,
 2.39,
 11.25,
 9.25,
 2.15,
 11.25,
 1.25,
 11.75,
 1.25,
 11.25,
 11.75,
 1.25,
 11.25,
 11.25,
 8.49,
 10.98,
 8.75,
 1.25,
 8.75,
 ...]

In [ ]:
chipo.item_price = prices #-> tozalangan narxlarni shu column nomi va asosiy dataga tayinlaymiz.

In [ ]:
chipo_filtered = chipo.drop_duplicates(['item_name','quantity','choice_description']) #-> item_price columnidan boshqa columnlardagi duplicatlarni uchirib tahlaymiz.
chipo_filtered

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4602,1827,1,Barbacoa Burrito,[Tomatillo Green Chili Salsa],9.25
4607,1829,1,Steak Burrito,"[Tomatillo Green Chili Salsa, [Rice, Cheese, S...",11.75
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25
4612,1831,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",9.25

In [ ]:
chipo_one_prod = chipo_filtered[chipo_filtered.quantity == 1] #-> quantity ya'ni miqdor! Miqdori faqat 1 ga teng bolgan mahsulotlarni tanlab oladi.
chipo_one_prod

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
...,...,...,...,...,...
4602,1827,1,Barbacoa Burrito,[Tomatillo Green Chili Salsa],9.25
4607,1829,1,Steak Burrito,"[Tomatillo Green Chili Salsa, [Rice, Cheese, S...",11.75
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25
4612,1831,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",9.25

In [ ]:
chipo_one_prod[chipo_one_prod['item_price']>10].item_name.nunique() #->item_price columinidagi 10 dan katta ya'ni narxlari 10 $ dan katta mahsulotlar nechtaligini bilamiz.
#chipo_one_prod[chipo_one_prod['item_price']>10] #-> endi shu columndagi 10$ dan katta jami mahsulotlarni chiqaramiz.

25

In [ ]:
#chipo.query('item_price > 15').item_name.head(10) #-> barcha dataning item_price columnidagi 15 $ dan katta barcha mahsulotlarni ko'rsatadi.
chipo.query('item_price > 15').item_name.head(10).nunique() #->mana shu item_price columnidagi 15$dan katta bolgan mahsulotlarni 10 qatorini korstadi nechtaligini?! 



#######10$ DAN KATTA BO'LGAN MAHSULOTLAR!!!!!!!!!########

6

In [ ]:
chipo_filtered = chipo.drop_duplicates(['item_name','quantity']) #-> item_name va quantity columnini drop duplicate
chipo_filtered

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
3890,1559,2,Carnitas Crispy Tacos,"[Fresh Tomato Salsa (Mild), [Cheese, Lettuce]]",17.98
3973,1592,4,Canned Soft Drink,[Coke],5.00
4152,1660,10,Bottled Water,NaN,15.00
4354,1738,2,Steak Soft Tacos,"[Fresh Tomato Salsa, [Cheese, Lettuce]]",18.50
4489,1786,4,Chips and Guacamole,NaN,17.80

In [ ]:
chipo[(chipo['item_name'] == 'Chicken Bowl') & (chipo['quantity'] == 1)] #-> datadagi item_name columnini chiken bowl yani tovuq_kosasi mahsuloti yoki quantity columnidagi 1ga teng bolgan mahsulotlar!

,order_id,quantity,item_name,choice_description,item_price
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",8.75
26,13,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Pinto Bea...",8.49
42,20,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",11.25
...,...,...,...,...,...
4590,1825,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",11.25
4591,1825,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",8.75
4595,1826,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",8.75
4599,1827,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",8.75
4604,1828,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",8.75

In [ ]:
chipo_one_prod = chipo_filtered[chipo_filtered.quantity == 1] #-> 
chipo_one_prod

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
6,3,1,Side of Chips,NaN,1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",9.25
10,5,1,Chips and Guacamole,NaN,4.45
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",8.75
16,8,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",8.49
21,11,1,Barbacoa Burrito,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",8.99
27,14,1,Carnitas Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",8.99
28,14,1,Canned Soda,[Dr. Pepper],1.09
33,17,1,Carnitas Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",8.99
34,17,1,Bottled Water,NaN,1.09
38,18,1,Chips and Tomatillo Green Chili Salsa,NaN,2.95
39,19,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.75
40,19,1,Chips,NaN,2.15
44,20,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75
54,25,1,Steak Bowl,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",8.99
56,26,1,Barbacoa Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Black...",9.25
57,26,1,Veggie Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25
62,28,1,Veggie Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
92,40,1,Steak Crispy Tacos,"[Fresh Tomato Salsa, Sour Cream]",9.25
111,49,1,Chips and Tomatillo Red Chili Salsa,NaN,2.95
168,75,1,Barbacoa Crispy Tacos,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",11.75
186,83,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
191,85,1,Chips and Roasted Chili-Corn Salsa,NaN,2.39
233,102,1,Chips and Roasted Chili Corn Salsa,NaN,2.95
237,103,1,Carnitas Soft Tacos,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",9.25
250,109,1,Chicken Salad,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",10.98
263,114,1,Canned Soft Drink,[Coke],1.25
298,129,1,6 Pack Soft Drink,[Sprite],6.49
300,130,1,Chips and Tomatillo-Red Chili Salsa,NaN,2.39
510,214,1,Burrito,"[Adobo-Marinated and Grilled Chicken, Pinto Be...",7.40
520,217,1,Crispy Tacos,[Adobo-Marinated and Grilled Steak],7.40
554,230,1,Carnitas Crispy Tacos,[Roasted Chili Corn Salsa],9.25
606,250,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Pinto Beans, Cheese, Gua...",11.89
664,276,1,Steak Salad,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",8.99
673,279,1,Bowl,"[Adobo-Marinated and Grilled Steak, [Sour Crea...",7.40
674,279,1,Chips and Mild Fresh Tomato Salsa,NaN,3.00
738,304,1,Veggie Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25
1132,468,1,Carnitas Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",11.89
1229,501,1,Barbacoa Salad Bowl,"[Fresh Tomato Salsa, [Rice, Fajita Vegetables,...",11.89
1414,575,1,Salad,"[Brown Rice, Adobo-Marinated and Grilled Chick...",7.40
1653,668,1,Veggie Crispy Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49
1694,686,1,Veggie Salad,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",8.49
3750,1500,1,Carnitas Salad,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",8.99

In [ ]:
!pip install joshbasiccalculator

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting joshbasiccalculator
  Downloading joshbasiccalculator-0.0.1.tar.gz (2.3 kB)
Building wheels for collected packages: joshbasiccalculator
  Building wheel for joshbasiccalculator (setup.py) ... done
  Created wheel for joshbasiccalculator: filename=joshbasiccalculator-0.0.1-py3-none-any.whl size=2530 sha256=73ef3a32d577972cb7e44e8589588b2ca56c45f15640fbf1233d3afbb94bdfd8
  Stored in directory: /root/.cache/pip/wheels/4d/10/7e/40ec772d34bd24669a6a0e21c2cff351cfd080d0b1e70e5fa4
Successfully built joshbasiccalculator
Installing collected packages: joshbasiccalculator
Successfully installed joshbasiccalculator-0.0.1

In [ ]:
from joshbasiccalculator import add_numbers
v = add_numbers(2,3)
v

5

In [ ]:
import pandas as pd


def reading_csv(url_data):
    a = pd.read_csv(url_data, sep='\t')
    # x = a.drop
    return a

s = reading_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv')
s

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75